
<section class="book-info">
  <h4 class="name"><%= book.name %></h4>
  <p class="author"><%= book.author %></p>
  <p class="genre"><%= book.genre %></p>
</section>
<h4>Reviews</h4>
<section class="reviews">
  <%= reviews.each_with_index do |review, index|%>
    <section class="review- <%= index %>">
    <p class="summary"><%= review.summary %></p>
    <p class="pub-date"><%= review.publication_date %></p>
    <p class="reviewer"><%= review.reviewer %></p>
    </section>
  <% end %>
</section>